/** Base Styles */
:root {
  /**
   * Colors
   * --------------------------------------------------------------------- */
  --color-primary: hsla(250, 65%, 45%, 1);
  --color-primary-100: hsla(250, 65%, 77%, 1);
  --color-primary-200: hsla(250, 65%, 69%, 1);
  --color-primary-300: hsla(250, 65%, 61%, 1);
  --color-primary-400: hsla(250, 65%, 53%, 1);
  --color-primary-500: hsla(250, 65%, 45%, 1);
  --color-primary-600: hsla(250, 65%, 37%, 1);
  --color-primary-700: hsla(250, 65%, 29%, 1);
  --color-primary-800: hsla(250, 65%, 21%, 1);
  --color-primary-900: hsla(250, 65%, 13%, 1);
  
  --color-complementary: hsla(70, 65%, 45%, 1);
  --color-complementary-100: hsla(70, 65%, 77%, 1);
  --color-complementary-200: hsla(70, 65%, 69%, 1);
  --color-complementary-300: hsla(70, 65%, 61%, 1);
  --color-complementary-400: hsla(70, 65%, 53%, 1);
  --color-complementary-500: hsla(70, 65%, 45%, 1);
  --color-complementary-600: hsla(70, 65%, 37%, 1);
  --color-complementary-700: hsla(70, 65%, 29%, 1);
  --color-complementary-800: hsla(70, 65%, 21%, 1);
  --color-complementary-900: hsla(70, 65%, 13%, 1);

  --c-teal: hsl(187.4, 23.3%, 47.1%);
  --c-brand-highlight: hsla(211, 55.8%, 71.4%, 0.5);
  --c-brand-active: hsl(187.4, 60.3%, 31.8%);
  --c-brand-dark: hsl(187.4, 58.3%, 11.8%);
  --c-brand-light: hsl(187.4, 59.3%, 26.8%);
  --c-bg: hsl(187.4, 66.1%, 22.7%);
  --c-bg-semi: hsla(0, 0%, 100%, 0.8);
  --c-bg2: hsl(187.4, 57.8%, 30.7%);
  --c-scrollbar: theme('colors.gray.200');
  --c-white: #fff;
  --c-black: #000;
}

.btn {
  @apply inline-block text-center align-middle cursor-pointer border p-2 rounded;
}
.btn-primary {
  @apply bg-primary;
}
.card {
  @apply flex flex-col bg-white border-1 rounded;
}
.card-title {
  @apply mb-2;
}
.form-text {
  @apply text-sm text-gray-600 mt-1 mb-4;
}
.nav {
  @apply flex flex-col list-none md:flex-row;
}
.nav-link {
  @apply inline-block py-1 md:px-2;
}
.settings {
  @apply max-w-prose mx-auto text-center flex justify-center;
}
.CPSG {
  @apply inline-flex justify-center place-items-center font-700;
}
.C {
  @apply bg-primary-700 text-white;
}
.P {
  @apply bg-primary-400 text-white;
}
.S {
  @apply bg-complementary-600 text-black;
}
.G {
  @apply bg-complementary-400 text-black px-2;
}
